<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>WELCOME</title>
	<link rel="stylesheet" href="/css/style.css" />

</head>

<body>
	<h1>HOME</h1>
	<div>
		<form class="form-search" method="get" th:action="@{/searchTutorial}">
			<input id="searchKey" type="search" name="searchKey" th:value="${searchKey}" class="form-control">
			<button type="submit">TÌM KIẾM</button>
			
		</form>
	</div>
	<table>
		<tr>
			<th>ID</th>
			<th>TITLE</th>
			<th>DESCRIPTION</th>
			<th>UPDATE</th>
			<th>DELECT</th>
		</tr>
		<tr th:each="dto:${tutorialList}">
			<td>[[${dto.id}]]</td>
			<td>[[${dto.title}]] </td>
			<td>[[${dto.description}]] </td>
			<td><a th:href="@{/editTutorial/{id}(id = ${dto.id})}"><img width="40px" src="../image/upgrade-update-icon.png" alt="Icon"></a></td>
			<td><a th:href="@{'/tutorial/' + ${dto.id}}"><img width="80px" src="../image/delete.png" alt="Icon"></a></td>
		</tr>
	</table>
</body>

</html>