<!DOCTYPE html>
<html lang="en">
<head>
	<title>WELCOME</title>
	<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<h1>CREATE NEW TUTORIAL</h1>
	<a href="/tutorial">DANH SÁCH</a>
	<table>
	<form th:action="@{/create}" method="post">
		<tr>
		<td><label>TITLE</label></td>
		<td><label>DESCRIPTION</label></td>
		<td><label>COUNT</label></td>
		</tr>
		<tr>
		<td><input type="text" id="title" name="title" class="form-control" /><br></td>
	
		<td><input type="text" id="description" name="description" class="form-control" /><br></td>
		
		<td><input type="text" id="count" name="count" class="form-control" /><br></td>
		</tr>	
		
			<tr><td><input type="submit" value="XÁC NHẬN" /></td>
			</tr>
	</form>
	</table>
	
</body>

</html>